.details{
    display: flex;
    justify-content: space-around;
    width:40vw;
    margin-left: 70px;
    flex-wrap:wrap;
    
    /* max-width: 50%; */
}
.a{
    display:flex;
    align-content: flex-start;
    width:8vw;
    /* border:1px solid gray; */
    color:white;
    margin:10px;
}
.buttont{
    border-radius: 10px;
    background-color: aqua;
    height:8vh;
    margin: 4px;
}